name: CI/CD Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Linting and checking
        run: |
          ruff check . --config pyproject.toml
          mypy --explicit-package-bases app/ --config-file pyproject.toml
      - name: Run tests
        run: |
          pytest -v
      - name: Build Docker image
        run: |
          SHORT_SHA=${GITHUB_SHA:0:8}
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/stunning-dollop:$SHORT_SHA .

  push-to-dockerhub:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push Docker image
        run: |
          SHORT_SHA=${GITHUB_SHA:0:8}

          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/stunning-dollop:$SHORT_SHA .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/stunning-dollop:$SHORT_SHA

          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            docker tag ${{ secrets.DOCKERHUB_USERNAME }}/stunning-dollop:$SHORT_SHA ${{ secrets.DOCKERHUB_USERNAME }}/stunning-dollop:latest
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/stunning-dollop:latest
          fi
